<div *ngIf="!openChat" class="groups-container">
  <div *ngIf="groups.length">
    <div
      *ngFor="let group of groups"
      (click)="openGroupChat(group)"
      class="group-list"
    >
      <div class="group">
        <span class="group-icon">
          <mat-icon>group</mat-icon>
        </span>
        <span class="group-name">{{ group.groupName }}</span>
      </div>
      <span *ngIf="group.count" class="notifiction-count">{{
        group.count
      }}</span>
    </div>
  </div>
</div>
<div *ngIf="openChat">
  <div class="group-header">
    <div class="group-left-content">
      <span class="back-btn"
        ><mat-icon (click)="back()">arrow_back</mat-icon></span
      >
      <span class="group-icon">
        <mat-icon>group</mat-icon>
      </span>
      <span class="group-name">{{ groupName }}</span>
    </div>
    <div (click)="shareGroupLink()" class="group-right-content">
      <mat-icon>share</mat-icon>
    </div>
  </div>
  <app-chat [groupName]="groupName" [isGroupsCompo]="true"></app-chat>
</div>
