.chat-container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #000000;
  border-radius: 0px 0px 8px 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  padding: 10px;
  min-height: 75vh;
  max-height: 75vh;
  overflow-y: auto;
}

.group-messages {
  display: flex;
  flex-direction: column;
  padding: 10px;
  min-height: 67vh;
  max-height: 67vh;
  overflow-y: auto;
}

.header-name {
  width: 20px;
  background-color: red;
}

.message {
  word-wrap: break-word;
  margin: 0 20px;
  padding: 7px 0px;
  display: flex;
  align-items: center;
}

.your-message {
  word-wrap: break-word;
  margin: 0 20px;
  padding: 7px 0px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sender {
  color: #ffffff;
  font-size: 15px;
  text-wrap: nowrap;
}

.message-body {
  background: #272626;
  color: #ffffff;
  border-radius: 8px;
  margin: 0px 3px;
  max-width: calc(70% - 10px);
  padding: 10px;
  font-size: 15px;
}

.delete-msg {
  color: white;
  cursor: pointer;
}

.time {
  font-size: 0.8rem;
  color: #aaa;
}

.chat-input {
  display: flex;
  padding: 10px;
}

.chat-input {
  .msg-field {
    display: flex;
    align-items: center;
    width: 100%;
    background: #272626;
    padding: 0px 8px;
    border-radius: 4px;

    input[type="text"] {
      outline: none;
      border: none;
      color: white;
      padding: 8px;
      border-radius: 4px;
      font-size: 1rem;
      width: 100%;
      background: #272626;
    }

    mat-icon {
      color: #f0f0f0;
      cursor: pointer
    }
  }
}

.chat-input button {
  padding: 8px;
  background-color: #0069d9;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  margin-left: 10px;
  font-size: 1rem;
  display: flex;
}


::ng-deep .center-text {
  text-align: center;
  color: black;
}

::ng-deep .error {
  text-align: center;
  color: rgb(255, 0, 0) !important;
}