<div class="chat-container">
  <div
    [ngClass]="{
      'group-messages ': isGroupsCompo,
      'chat-messages': !isGroupsCompo
    }"
    #scrollContainer
  >
    <div class="header-name"></div>
    <div
      [ngClass]="{
        'your-message': message.userName === 'You',
        message: message.userName !== 'You'
      }"
      *ngFor="let message of messages"
    >
      <span class="sender">{{ message.userName }} :</span>
      <span class="message-body">{{ message.userMessage }}</span>
      <span
        *ngIf="message.isAdmin"
        (click)="deleteMessage(message._id)"
        class="delete-msg"
        ><mat-icon>delete_forever</mat-icon></span
      >
      <span class="time">{{ message.time }}</span>
    </div>
  </div>

  <div class="chat-input">
    <div class="msg-field">
      <input
        type="text"
        #sendMessageInput
        [(ngModel)]="userMessage"
        [disabled]="isSendMsgButtonActive && !isGroupsCompo"
        placeholder="Type your message here"
      />
    </div>
    <button id="send-button" (click)="sendMessage()">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
