<div class="chat-container">
  <div class="chat-header">ChatFusionX</div>
  <div class="chat-messages" #scrollContainer>
    <div class="message" *ngFor="let message of messages">
      <div class="sender">
        <span>{{ message.userName }}</span
        >:
      </div>
      <div class="message-body">
        <span>{{ message.userMessage }}</span>
      </div>
      <span class="time">{{ message.time }}</span>
    </div>
  </div>
  <div class="chat-input">
    <input
      type="text"
      [(ngModel)]="userMessage"
      placeholder="Type your message here"
    />
    <button id="send-button" (click)="sendMessage()">Send</button>
  </div>
</div>
