<div class="chat-container">
  <div class="chat-header">
    <div class="chat-header-text">ChatFusionX</div>
    <button
      [disabled]="isProfileButtonActive"
      (click)="editProfile()"
      class="edit-button"
    >
      <mat-icon>account_circle</mat-icon>
      <span>{{ firstName }} {{ lastName }}</span>
    </button>
  </div>
  <div class="chat-messages" #scrollContainer>
    <div
      [ngClass]="{
        'your-message': message.userName === 'You',
        message: message.userName !== 'You'
      }"
      *ngFor="let message of messages"
    >
      <div class="sender">
        <span>{{ message.userName }}</span
        >:
      </div>
      <div class="message-body">
        <span>{{ message.userMessage }}</span>
      </div>
      <span class="time">{{ message.time }}</span>
    </div>
  </div>
  <div class="chat-input">
    <input
      type="text"
      [(ngModel)]="userMessage"
      [disabled]="isSendMsgButtonActive"
      placeholder="Type your message here"
    />
    <button id="send-button" (click)="sendMessage()">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
