.chat-container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #000000;
  border-radius: 0px 0px 8px 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  padding: 10px;
  min-height: calc(100vh - 200px);
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}


::ng-deep {
  p {
    padding: 0px !important;
    margin: 0px !important;
  }

  pre {
    color: white;
    border-radius: 5px;
    background: black;
    padding: 20px;
  }

  li {
    margin-left: 20px !important;
  }

  .mat-horizontal-content-container {
    padding: 0px !important;
  }

  mat-stepper.mat-stepper-vertical,
  .mat-stepper-horizontal {
    background-color: black;

    .mat-horizontal-stepper-header-container {
      height: 50px;

      mat-step-header {
        height: 50px;
      }
    }
  }
}

::ng-deep .mat-step-header .mat-step-icon-selected,
::ng-deep .mat-step-header .mat-step-icon-state-done,
::ng-deep .mat-step-header .mat-step-icon-state-edit {
  background-color: #0069d9;
  color: #fff;
}


.group-messages {
  display: flex;
  flex-direction: column;
  padding: 10px;
  min-height: calc(100vh - 200px);
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

.header-name {
  width: 20px;
  background-color: red;
}

.message {
  word-wrap: break-word;
  margin: 0 20px;
  padding: 7px 0px;
  display: flex;
  align-items: center;
}

.your-message {
  word-wrap: break-word;
  margin: 0 20px;
  padding: 7px 0px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sender {
  color: #ffffff;
  font-size: 15px;
  text-wrap: nowrap;
}

.message-body {
  background: #272626;
  color: #ffffff;
  border-radius: 8px;
  margin: 0px 3px;
  max-width: calc(70% - 10px);
  padding: 8px;
  font-size: 15px;
  line-height: 1.5;
  text-wrap: wrap;
  font-family: Arial, sans-serif;
}

.message-body-ai {
  background: #272626;
  color: #ffffff;
  border-radius: 8px;
  padding: 8px;
  margin: 0px;
  font-size: 15px;
  font-family: Arial, sans-serif;
}

.delete-msg {
  color: white;
  cursor: pointer;
}

.time {
  font-size: 0.8rem;
  color: #aaa;
}

.chat-input {
  display: flex;
  padding: 10px;
}

.chat-input {
  .msg-field {
    display: flex;
    align-items: center;
    width: 100%;
    background: #272626;
    padding: 0px 8px;
    border-radius: 4px;

    input[type="text"] {
      outline: none;
      border: none;
      color: white;
      padding: 8px;
      border-radius: 4px;
      font-size: 1rem;
      width: 100%;
      background: #272626;
    }

    mat-icon {
      color: #f0f0f0;
      cursor: pointer
    }
  }
}

.chat-input button {
  padding: 8px;
  background-color: #0069d9;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  margin-left: 10px;
  font-size: 1rem;
  display: flex;
}


::ng-deep .center-text {
  text-align: center;
  color: black;
}

::ng-deep .error {
  text-align: center;
  color: rgb(255, 0, 0) !important;
}


.loader {
  text-align: center;
  padding: 0px 5px 0px 5px;
}

.loader span {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background: #0069d9;
  border-radius: 20px;
  animation: loader 0.8s infinite alternate;
}

.loader span:nth-of-type(2) {
  animation-delay: 0.2s;
}

.loader span:nth-of-type(3) {
  animation-delay: 0.6s;
}

@keyframes loader {
  0% {
    opacity: 0.9;
    transform: scale(0.5);
  }

  100% {
    opacity: 0.1;
    transform: scale(1);
  }
}