.chat-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #000000;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
}